<div class="row bootstrap snippets">
    <div class="box box-primary direct-chat direct-chat-primary">
        <div class="box-header with-border">
            <h3 class="box-title">App Chat</h3>
        </div>
        <div class="box-body">
            <div class="direct-chat-messages">
                <div id="messages"></div> 
        </div>
        <div class="box-footer">
            <form id="frmPasion">

                <input type="email" id="email" placeholder="Ingrese Email" class="form-control" required />
                <input type="text" id="text" placeholder="Mensaje ..." class="form-control">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary btn-flat"></button>
                    </span>

            </form>
            </div>
    </div>
</div>